<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aminul</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/register">Registesr</a>
        <a href="/login">Login</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </header>
</body>
</html>